.ingridient-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.macronutrients {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 20px;
}

.macro p {
  text-align: center;
  min-width: 112px;
}

.title {
  width: 580px;
  height: 64px;
  display: flex;
  align-items: center;
}

.img {
  width: 480px;
  height: 240px;
  display: flex;
  align-items: center;
}