.section {
  width: 600px;
  height: 912px;
  box-sizing: border-box;
}

.ingridients-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.stuffing {
  max-height: 464px;
  overflow-y: scroll;
}

.ingridients-item {
  box-sizing: content-box;
  max-width: 536px;
  position: relative;
  padding-left: 32px;
}

.drag-icon {
  position: absolute;
  top: 28px;
  left: 5px;  
}

